html 
{
    position: relative;
    min-height: 100%;
}
body 
{
  background-color: white;
  font-size: 15px;
  font-family: arial;
  font-weight: bold;
  //direction: rtl;
  margin-bottom: 50px;
}
.navbar {
  border-radius: 0px;
}
a
{
  color: #5c5b69;
}
ul
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
hr
{
  margin: 10px 0px 15px 0px;
}
h3
{
  margin-bottom: 5px;
}
.block
{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
}
#loader img
{
  position: absolute;
  top: 80px;
  left: 48%;
  width: 5%;
  margin: 50px auto 50px auto;
}
#editbutton
{
  margin-bottom: 7px;
}
.thumbnail
{
  width: 100px;
}
/*
 * Footer
 */

.blog-footer 
{
  font-family: arial;
  padding: 15px 0;
  color: rgb(119, 119, 119);
  text-align: center;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-top-color: rgb(231, 231, 231);
}
.blog-footer p:last-child 
{
  margin-bottom: 0;
}
.blog-footer a:hover
{
  color: #ffffff;
  text-decoration:  none;
}